{
  "openapi": "3.0.1",
  "info": {
    "title": "GoodSpace Candidate Evaluation API",
    "description": "API endpoints to evaluate the suitability of candidates for specified job positions, including single and batch evaluations.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.ourgoodspace.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/evaluate_candidate": {
      "post": {
        "description": "Evaluates a candidate's fit for a job based on provided details and returns an evaluation ID for further reference.",
        "operationId": "evaluateCandidate",
        "requestBody": {
          "description": "Candidate and job details for evaluation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful evaluation with an evaluation ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evaluationId": {
                      "type": "string",
                      "description": "Unique identifier for the evaluation."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/retrieve_evaluation/{evaluationId}": {
      "get": {
        "description": "Retrieves the result of a previously submitted candidate evaluation using the provided evaluation ID.",
        "operationId": "retrieveEvaluation",
        "parameters": [
          {
            "name": "evaluationId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the evaluation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation result containing fit status and feedback.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isGoodFit": {
                      "type": "boolean",
                      "description": "Indicates if the candidate is a good fit for the job."
                    },
                    "feedback": {
                      "type": "string",
                      "description": "Feedback on the candidate's suitability."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/batch_evaluate_candidate": {
      "post": {
        "description": "Evaluates multiple candidates and jobs in a single batch request.",
        "operationId": "batchEvaluateCandidates",
        "requestBody": {
          "description": "Array of candidate and job details for batch evaluation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EvaluationRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch evaluation results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "isGoodFit": {
                        "type": "boolean",
                        "description": "Indicates if the candidate is a good fit for the job."
                      },
                      "feedback": {
                        "type": "string",
                        "description": "Feedback on the candidate's suitability."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
     "/register_organization": {
      "post": {
        "description": "Registers a new organization with the necessary details.",
        "operationId": "registerOrganization",
        "requestBody": {
          "description": "Required organization details.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Organization successfully registered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interview/start": {
      "post": {
        "description": "Starts a new interview session using job details, candidate details, and organization details.",
        "operationId": "startInterview",
        "requestBody": {
          "description": "Details required to start the interview.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Interview successfully started.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/interview/status": {
      "get": {
        "description": "Retrieves the status of an ongoing or completed interview.",
        "operationId": "getInterviewStatus",
        "parameters": [
          {
            "name": "interviewId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the interview."
          }
        ],
        "responses": {
          "200": {
            "description": "Current status of the interview.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewStatusResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },"/interview/analysis": {
      "get": {
        "description": "Provides a detailed analysis of the interview.",
        "operationId": "getInterviewAnalysis",
        "parameters": [
          {
            "name": "interviewId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique identifier of the interview."
          }
        ],
        "responses": {
          "200": {
            "description": "Detailed analysis of the interview.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterviewAnalysisResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "EvaluationRequest": {
        "type": "object",
        "properties": {
          "jobDetails": {
            "type": "object",
            "properties": {
              "jobTitle": {
                "type": "string",
                "description": "Title of the job position."
              },
              "requiredSkills": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of skills required for the job."
              },
              "jobDescription": {
                "type": "string",
                "description": "Description of the job."
              }
            }
          },
          "candidateDetails": {
            "type": "object",
            "properties": {
              "candidateSkills": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Skills possessed by the candidate."
              },
              "candidateDesignation": {
                "type": "string",
                "description": "Current designation of the candidate."
              }
            }
          }
        }
      },
    "OrganizationRequest": {
        "type": "object",
        "properties": {
          "companyName": {"type": "string"},
          "locationCity": {"type": "string"},
          "state": {"type": "string"},
          "country": {"type": "string"},
          "website": {"type": "string"},
          "hiringManagerName": {"type": "string"},
          "emailId": {"type": "string"},
          "mobileNumber": {"type": "string"}
        },
        "required": ["companyName", "locationCity", "state", "country", "website", "hiringManagerName", "emailId", "mobileNumber"]
      },
      "OrganizationResponse": {
        "type": "object",
        "properties": {
          "orgId": {"type": "string"},
          "message": {"type": "string"}
        }
      },
      "InterviewRequest": {
        "type": "object",
        "properties": {
          "jobTitle": {"type": "string"},
          "jobDescription": {"type": "string"},
          "skills": {"type": "array", "items": {"type": "string"}},
          "experienceRequired": {"type": "string"},
          "ctc": {"type": "string"},
          "highestQualificationRequired": {"type": "string"},
          "customQuestions": {"type": "array", "items": {"type": "string"}},
          "candidateName": {"type": "string"},
          "candidateSkills": {"type": "array", "items": {"type": "string"}},
          "candidateExperience": {"type": "string"},
          "candidateCtc": {"type": "string"},
          "orgId": {"type": "string"},
          "evaluationId": {"type": "string", "nullable": true}
        },
        "required": ["jobTitle", "jobDescription", "skills", "experienceRequired", "ctc", "highestQualificationRequired", "candidateName", "candidateSkills", "candidateExperience", "candidateCtc", "orgId"]
      },
      "InterviewResponse": {
        "type": "object",
        "properties": {
          "interviewLink": {"type": "string"},
          "interviewId": {"type": "string"}
        }
      },
      "InterviewStatusResponse": {
        "type": "object",
        "properties": {
          "status": {"type": "string"},
          "message": {"type": "string"}
        }
      },
      "InterviewAnalysisResponse": {
        "type": "object",
        "properties": {
          "score": {"type": "integer"},
          "swotAnalysis": {"type": "string"},
          "customQuestionAnswers": {"type": "array", "items": {"type": "string"}},
          "finalDecision": {"type": "string"},
          "softSkillsAnalysis": {"type": "string"},
          "technicalAnalysis": {"type": "string"}
        }
      }
    },
    "securitySchemes": {
   "apiAuth": {
    "type": "apiKey",
    "in": "header",
    "name": "Authorization"
  }
}

  }
}
