{
  "openapi": "3.0.1",
  "info": {
    "title": "GoodSpace Candidate Evaluation API",
    "description": "API endpoints to evaluate the suitability of candidates for specified job positions, including single and batch evaluations.",
    "version": "1.0.0",
    "license": {
      "name": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.ourgoodspace.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/evaluate_candidate": {
      "post": {
        "description": "Evaluates a candidate's fit for a job based on provided details and returns an evaluation ID for further reference.",
        "operationId": "evaluateCandidate",
        "requestBody": {
          "description": "Candidate and job details for evaluation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EvaluationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful evaluation with an evaluation ID.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "evaluationId": {
                      "type": "string",
                      "description": "Unique identifier for the evaluation."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/retrieve_evaluation/{evaluationId}": {
      "get": {
        "description": "Retrieves the result of a previously submitted candidate evaluation using the provided evaluation ID.",
        "operationId": "retrieveEvaluation",
        "parameters": [
          {
            "name": "evaluationId",
            "in": "path",
            "required": true,
            "description": "The unique identifier for the evaluation.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Evaluation result containing fit status and feedback.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isGoodFit": {
                      "type": "boolean",
                      "description": "Indicates if the candidate is a good fit for the job."
                    },
                    "feedback": {
                      "type": "string",
                      "description": "Feedback on the candidate's suitability."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/batch_evaluate_candidate": {
      "post": {
        "description": "Evaluates multiple candidates and jobs in a single batch request.",
        "operationId": "batchEvaluateCandidates",
        "requestBody": {
          "description": "Array of candidate and job details for batch evaluation.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/EvaluationRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch evaluation results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "isGoodFit": {
                        "type": "boolean",
                        "description": "Indicates if the candidate is a good fit for the job."
                      },
                      "feedback": {
                        "type": "string",
                        "description": "Feedback on the candidate's suitability."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "EvaluationRequest": {
        "type": "object",
        "properties": {
          "jobDetails": {
            "type": "object",
            "properties": {
              "jobTitle": {
                "type": "string",
                "description": "Title of the job position."
              },
              "requiredSkills": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "List of skills required for the job."
              },
              "jobDescription": {
                "type": "string",
                "description": "Description of the job."
              }
            }
          },
          "candidateDetails": {
            "type": "object",
            "properties": {
              "candidateSkills": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Skills possessed by the candidate."
              },
              "candidateDesignation": {
                "type": "string",
                "description": "Current designation of the candidate."
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
